 :root {
    --primary_color_dark_one: #0f171b;
    --primary_color_dark_two: #053f46;
    --primary_color_dark_three: #054464;
    --primary_color_dark_four: #0d82bd;
    --primary_color_light_one: #767676;
    --primary_color_light_two: #cdedf6;
    --primary_color_light_three: #e2dfdf;
    --primary_color_light_four: #faf2f2;
    --primary_color_light_five: #fff;
    --primary_color_error_one: red;
    --primary_color_error_two: rgba(253,29,22,0.5);
    --primary_color_success_one: #039e03;
    --primary_color_success_two: rgba(71,248,55,0.5);
}
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

 :root a {
    text-decoration: none;
}

/* .swaraj{

} */
/* :root ul li{
    list-style-type: none;
} */
.menu-line{
    position: sticky;
    top: 0%;
    background-color: var(--primary_color_light_five);
}
/* .menubar1 */

.swaraj{
    /* position: sticky; */
    /* display: ;  */
    /* display: flex; */
    border-bottom: 1px solid var(--primary_color_dark_one);
    /* border: 3px solid black; */
    box-shadow:0 0 5px;
    justify-content: space-between;
    /* background-color: black; */
    position: sticky;
    top: 0px;
}
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
 .mainmenu{
    /* border: 3px solid red; */
    /* height: 60px; */
    /* width: 100%; */
    position: sticky;
    top: 0px;
    display: flex;
    /* border-bottom: 1px solid var(--primary_color_dark_one); */
    /* box-shadow:0 0 5px; */
    background-color: var(--primary_color_light_five);
} 
.menubar1{ 
    list-style-type: none;
    /* width: 80%; */
    position: sticky;
    top: 0%;
    display: none;
    /* border: 3px solid red; */
}


.menubar1{
    /* display: flex; */
    padding: 20px;
    /* margin: 20px; */
}


.menubar1 li > a{
    /* float: right; */
    color: var(--primary_color_dark_four);
    background-color: var(--primary_color_light_five);
    /* margin-right: 1.5rem; */
    font-size: 1.3rem;
    /* border: 3px solid green; */
    list-style-type: none;
}
.list1{
    list-style-type: none;
    top: 0%;
    /* border: 3px solid black; */
}
.list1 li > a{
    color: var(--primary_color_dark_one);
    background-color: var(--primary_color_light_five);
    font-size: 1.3rem;
    position: static;
    top: 0%;
    /* border: 3px solid yellowgreen; */
}
.list li > a:hover{
    color: var(--primary_color_dark_one);
}
.list2{
    list-style: none;
}
#logo{
    height: 50px;
    width: 50px;
    margin-left: 1rem; 
}

@media (min-width :500px){

    .menubar1{
        display: flex;
    }
    .swaraj{
        display: flex;
    }
}

@media (min-width :750px){
    .menubar1{
        display: flex;
    }
    .swaraj{
        display: flex;
    }
    #hanf{
        display: none;
    }
}